<form
  class="form-horizontal"
  autocomplete="off"
  #editVehicleModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit Vehicle' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tabset>
        <tab [heading]="'Vehicle Details' | localize" class="pt-3 px-2">
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
              {{ "Car Name" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="carname"
                id="carname"
                required
                maxlength="32"
                [(ngModel)]="vehicle.carName"
                #carnameModel="ngModel"
                #carnameEl
              />
              <abp-validation-summary
                [control]="carnameModel"
                [controlEl]="carnameEl"
              ></abp-validation-summary>
            </div>
          </div>

          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="licenseNumber">
              {{ "Brand" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="brand"
                id="brand"
                required
                maxlength="32"
                [(ngModel)]="vehicle.brand"
                #brandModel="ngModel"
                #brandEl
              />
              <abp-validation-summary
                [control]="brandModel"
                [controlEl]="brandEl"
              ></abp-validation-summary>
            </div>
          </div>

          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="age">
              {{ "Model" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="model"
                id="model"
                required
                [(ngModel)]="vehicle.model"
                #modelModel="ngModel"
                #modelEl
              />
              <abp-validation-summary
                [control]="modelModel"
                [controlEl]="modelEl"
              ></abp-validation-summary>
            </div>
          </div>

          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="sex">
              {{ "Registration" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="registration"
                id="registration"
                required
                [(ngModel)]="vehicle.registration"
                #registrationModel="ngModel"
                #registrationEl
              />
              <abp-validation-summary
                [control]="registrationModel"
                [controlEl]="registrationEl"
              ></abp-validation-summary>
            </div>
          </div>

          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="surname">
              {{ "Plate" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="plate"
                id="plate"
                required
                [(ngModel)]="vehicle.plate"
                #plateModel="ngModel"
                #plateEl
              />
              <abp-validation-summary
                [control]="plateModel"
                [controlEl]="plateEl"
              ></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="userName">
              {{ "Number" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="number"
                id="number"
                required
                [(ngModel)]="vehicle.number"
                #numberModel="ngModel"
                #numberEl
              />
              <abp-validation-summary
                [control]="numberModel"
                [controlEl]="numberEl"
              ></abp-validation-summary>
            </div>
          </div>

          <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label">
              {{ "IsActive" | localize }}
            </label>
            <div class="col-md-9">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  name="isActive"
                  id="isActive"
                  [(ngModel)]="vehicle.isActive"
                />
                <label class="custom-control-label mt-2" for="isActive"></label>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editVehicleModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
