<form
  class="form-horizontal"
  autocomplete="off"
  #editUserModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit Benutzer' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Benutzer Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="firstName">
            {{ "Vorname" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="firstName"
              required
              maxlength="32"
              [(ngModel)]="user.firstName"
              #firstNameModel="ngModel"
              #firstNameEl
            />
            <abp-validation-summary
              [control]="firstNameModel"
              [controlEl]="firstNameEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="lastName">
            {{ "Nachname" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="lastName"
              id="lastName"
              required
              maxlength="32"
              [(ngModel)]="user.lastName"
              #lastNameModel="ngModel"
              #lastNameEl
            />
            <abp-validation-summary
              [control]="lastNameModel"
              [controlEl]="lastNameEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="adress">
            {{ "Adresse" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="adress"
              id="adress"
              required
              maxlength="32"
              [(ngModel)]="user.adress"
              #adressModel="ngModel"
              #adressEl
            />
            <abp-validation-summary
              [control]="adressModel"
              [controlEl]="adressEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="postcode">
            {{ "PLZ" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="number"
              class="form-control"
              name="postcode"
              id="postcode"
              required
              maxlength="32"
              [(ngModel)]="user.postcode"
              #postcodeModel="ngModel"
              #postcodeEl
            />
            <abp-validation-summary
              [control]="postcodeModel"
              [controlEl]="postcodeEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="city">
            {{ "Stadt" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="city"
              id="city"
              required
              maxlength="32"
              [(ngModel)]="user.city"
              #cityModel="ngModel"
              #cityEl
            />
            <abp-validation-summary
              [control]="cityModel"
              [controlEl]="cityEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="country">
            {{ "Country" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="country"
              id="country"
              required
              maxlength="32"
              [(ngModel)]="user.country"
              #countryModel="ngModel"
              #countryEl
            />
            <abp-validation-summary
              [control]="countryModel"
              [controlEl]="countryEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="phone">
            {{ "Telefon" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="phone"
              id="phone"
              required
              maxlength="32"
              [(ngModel)]="user.phone"
              #phoneModel="ngModel"
              #phoneEl
            />
            <abp-validation-summary
              [control]="phoneModel"
              [controlEl]="phoneEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="cellNumber">
            {{ "Mobile" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="cellNumber"
              id="cellNumber"
              required
              maxlength="32"
              [(ngModel)]="user.cellNumber"
              #cellNumberModel="ngModel"
              #cellNumberEl
            />
            <abp-validation-summary
              [control]="cellNumberModel"
              [controlEl]="cellNumberEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="licenseNumber">
            {{ "License Number" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="licenseNumber"
              id="licenseNumber"
              required
              maxlength="32"
              [(ngModel)]="user.licenseNumber"
              #licenseNumberModel="ngModel"
              #licenseNumberEl
            />
            <abp-validation-summary
              [control]="licenseNumberModel"
              [controlEl]="licenseNumberEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="age">
            {{ "Age" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="number"
              class="form-control"
              name="age"
              id="age"
              required
              maxlength="32"
              [(ngModel)]="user.age"
              #ageModel="ngModel"
              #ageEl
            />
            <abp-validation-summary
              [control]="ageModel"
              [controlEl]="ageEl"
            ></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="userName">
            {{ "Benutzername" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="userName"
              id="userName"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="user.userName"
              #userNameModel="ngModel"
              #userNameEl
            />
            <abp-validation-summary
              [control]="userNameModel"
              [controlEl]="userNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="emailAddress">
            {{ "E-Mail" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="email"
              class="form-control"
              name="emailAddress"
              id="emailAddress"
              required
              maxlength="256"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
              [(ngModel)]="user.emailAddress"
              #emailAddressModel="ngModel"
              #emailAddressEl
            />
            <abp-validation-summary
              [control]="emailAddressModel"
              [controlEl]="emailAddressEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "Aktiv" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="isActive"
                id="isActive"
                [(ngModel)]="user.isActive"
              />
              <label class="custom-control-label mt-2" for="isActive"></label>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'Rolle' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <ng-container *ngFor="let role of roles; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="'role_' + i"
                  [checked]="isRoleChecked(role.normalizedName)"
                  (change)="onRoleChange(role, $event)"
                />
                <label class="custom-control-label" [for]="'role_' + i">
                  {{ role.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
